<!DOCTYPE html>
<html>
  <head>
    <title>Files</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="container files">
    <h1>Files</h1>
    <ul>
      <% files.forEach(file => { %>
        <li><%= file %></li>
        <% if (user && (user.role === 'Administrateur' || user.role === 'Editeur' || user.role === 'Lecteur')) { %>
            <form action="/files/<%= file %>" method="get">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Download</button>
            </form>
        <% } %>
    
        <% if (user && (user.role === 'Administrateur' || user.role === 'Editeur')) { %>
            <form action="/files/delete/<%= file %>" method="get">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Delete</button>
            </form>
            <br>
        <% } %>
      <% }); %>
    </ul>
    <br>
    <% if (user && (user.role === 'Administrateur' || user.role === 'Editeur')) { %>
    <h3>Upload a file</h3>
    <form action="/files?_csrf=<%= csrfToken %>" method="post" enctype="multipart/form-data">
      <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
      <input type="file" name="file" />
      <button type="submit">Envoyer</button>
    </form>
    <% } %>
  </div>
  </body>
</html>
